<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find motoman_description)/urdf/common.xacro" />
  <!-- Hard ware limits -->
  <!-- Range limits -->
  <xacro:property name="joint_s_upper_limit" value="${180*M_PI/180}"/>
  <xacro:property name="joint_s_lower_limit" value="-${joint_s_upper_limit}"/>
  <xacro:property name="joint_l_upper_limit" value="${110*M_PI/180}"/>
  <xacro:property name="joint_l_lower_limit" value="-${joint_l_upper_limit}"/>
  <xacro:property name="joint_e_upper_limit" value="${170*M_PI/180}"/>
  <xacro:property name="joint_e_lower_limit" value="-${joint_e_upper_limit}"/>
  <xacro:property name="joint_u_upper_limit" value="${130*M_PI/180}"/>
  <xacro:property name="joint_u_lower_limit" value="-${joint_u_upper_limit}"/>
  <xacro:property name="joint_r_upper_limit" value="${180*M_PI/180}"/>
  <xacro:property name="joint_r_lower_limit" value="-${joint_r_upper_limit}"/>
  <xacro:property name="joint_b_upper_limit" value="${110*M_PI/180}"/>
  <xacro:property name="joint_b_lower_limit" value="-${joint_b_upper_limit}"/>
  <xacro:property name="joint_t_upper_limit" value="${180*M_PI/180}"/>
  <xacro:property name="joint_t_lower_limit" value="-${joint_t_upper_limit}"/>

  <!-- Velocity limits -->
  <xacro:property name="joint_s_velocity_limit" value="${130*M_PI/180}"/>
  <xacro:property name="joint_l_velocity_limit" value="${130*M_PI/180}"/>
  <xacro:property name="joint_e_velocity_limit" value="${170*M_PI/180}"/>
  <xacro:property name="joint_u_velocity_limit" value="${170*M_PI/180}"/>
  <xacro:property name="joint_r_velocity_limit" value="${200*M_PI/180}"/>
  <xacro:property name="joint_b_velocity_limit" value="${200*M_PI/180}"/>
  <xacro:property name="joint_t_velocity_limit" value="${400*M_PI/180}"/>
</robot>
