<?xml version="1.0" ?>
<robot name="motoman_motomini" xmlns:xacro="http://ros.org/wiki/xacro">
  <!--xacro:include filename="$(find motoman_description)/urdf/motomini/body.urdf.xacro" /-->
  <xacro:include filename="$(find motoman_description)/robots/motomini/motomini_basic.urdf.xacro" />
  <xacro:motoman_motomini prefix=""/>
  <xacro:add_world>
    <origin xyz="0 0 0.067" rpy="0 0 0"/>
  </xacro:add_world>
</robot>
