<?xml version="1.0"?>
<robot name="motoman_motomini" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- File Include -->
  <xacro:include filename="$(find motoman_description)/urdf/sensor/kinect.urdf.xacro"/>
  <xacro:include filename="$(find motoman_description)/urdf/sensor/kinect.gazebo.xacro"/>
  <xacro:include filename="$(find motoman_description)/urdf/tool/gripper.urdf.xacro" />
  <xacro:include filename="$(find motoman_description)/robots/motomini/motomini.urdf.xacro"/>

  <!-- add gripper -->
  <xacro:gripper name="gripper" parent="tool0">
    <origin xyz="0 0 0.035" rpy="0 0 0" />
  </xacro:gripper>

  <!-- add Kinect V2 -->
  <!-- Link -->
  <xacro:kinect2_link_box_v0 name="kinect2_link"/>
  <link name="kinect2_rgb_optical_frame"/>

  <!-- Joint -->
  <joint name="joint_kinect2" type="fixed">
    <origin xyz="0.6 0 0.5" rpy="0 0.9 3.1416"/>
    <parent link="base_link"/>
    <child link="kinect2_link"/>
  </joint>

  <joint name="joint_rgb_kinect2" type="fixed">
    <origin rpy="${M_PI/2} ${M_PI} ${M_PI/2}"/>
    <parent link="kinect2_link"/>
    <child link="kinect2_rgb_optical_frame"/>
  </joint>

  <!-- Gazebo -->
  <xacro:kinect_gazebo name="kinect2"/>

</robot>
